<?xml version="1.0" encoding="UTF-8"?>
<!-- <web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_9" version="3.0">
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/view/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/500.jsp</location>
  </error-page>
  <jsp-config>
    <taglib>
      <taglib-uri>custom.tld</taglib-uri>
      <taglib-location>/WEB-INF/custom.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>